@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './mixins.scss';
@import './slider.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 100px;
  padding: 100px 40px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include _1200 {
    max-width: none;
    padding: 40px 40px;
    grid-template-columns: 1fr;
  }
}

.panel {
  margin-top: 40px;
  padding: 30px 0;
  &__option {
    position: relative;
    line-height: 30px;
    display: flex;
    align-items: center;
    input {
      position: absolute;
      left: 120px;
    }
  }
}
