@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 100px;
}

.range-slider {
  position: relative;
  max-width: 400px;
  cursor: pointer;

  &__track {
    width: 100%;
    border: $track-border solid rgb(31, 32, 65, 0.25);
    height: $track-height;
    background: $track-color;
    border-radius: $track-height;
  }

  &__handle {
    position: absolute;
    height: $handle-size;
    width: $handle-size;
    border-radius: $handle-size/2;
    background: $background-progress;
    border: $handle-border solid white;
    top: -$handle-size/$track-height - $handle-border;
    transform: translate(-10%);
    &_num_1 {
      left: 10%;
    }
    &_num_2 {
      left: 90%;
    }
  }

  &__tooltip {
    position: absolute;
    top: -30px;
    left: -50%;
    &_hide {
      display: none;
    }
  }

  &__progress {
    position: absolute;
    height: inherit;
    right: 20%;
    top: 0;
    left: 40px + $handle-size;
    background: $background-progress;
    pointer-events: none;
    border-radius: inherit;
  }

  &__scale {
    position: relative;
    margin-top: 8px;
    &_point {
      position: absolute;
      transform: translate(-25%);
      &-end {
        background: white;
        z-index: 100;
      }
    }
  }

  &_vertical {
    max-width: $track-height;
    height: 400px;
    .range-slider {
      &__track {
        width: $track-height;
        border: $track-border solid rgb(31, 32, 65, 0.25);
        height: 100%;
        background: $track-color;
        border-radius: $track-height;
      }

      &__progress {
        width: inherit;
        position: absolute;
        height: initial;
        left: 0;
        top: 40px + $handle-size;
        bottom: 20%;
        background: $background-progress;
        pointer-events: none;
        border-radius: inherit;
      }

      &__handle {
        position: absolute;
        height: $handle-size;
        width: $handle-size;
        border-radius: $handle-size/2;
        background: $background-progress;
        border: $handle-border solid white;
        left: -$handle-size/$track-height - $handle-border;
        transform: none;
        &_num_1 {
          top: 10%;
        }
        &_num_2 {
          top: 90%;
        }
      }

      &__tooltip {
        position: absolute;
        top: -40%;
        left: 200%;
        &_hide {
          display: none;
        }
      }

      &__scale {
        position: absolute;
        top: 0;
        margin-top: 8px;
        height: 100%;
        &_point {
          right: 10px;
          position: absolute;
          transform: translate(0, -85%);
          &:nth-child(1) {
            top: 0%;
          }
          &:nth-child(2) {
            top: 40%;
          }
          &:nth-child(3) {
            top: 100%;
          }
          &-end {
            background: white;
            z-index: 100;
          }
        }
      }
    }
  }
}

.panel {
  margin-top: 40px;
  &__option {
    position: relative;
    line-height: 30px;
    display: flex;
    align-items: center;
    input {
      position: absolute;
      left: 120px;
    }
  }
}
