@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 100px;
}

.range-slider {
  position: relative;
  max-width: 400px;
  cursor: pointer;

  &__track {
    width: 100%;
    border: $track-border solid rgb(31, 32, 65, 0.25);
    height: $track-height;
    background: $track-color;
    border-radius: $track-height;
  }

  &__handle {
    position: absolute;
    height: $handle-size;
    width: $handle-size;
    border-radius: $handle-size/2;
    background: $background-progress;
    border: $handle-border solid white;
    top: -$handle-size/$track-height - $handle-border;
    &_num_1 {
      left: 10%;
    }
    &_num_2 {
      left: 90%;
    }
  }

  &__tooltip {
    position: absolute;
    top: -30px;
    left: -50%;
  }

  &__progress {
    position: absolute;
    height: inherit;
    right: 20%;
    top: 0;
    left: 40px + $handle-size;
    background: $background-progress;
    pointer-events: none;
    border-radius: inherit;
  }

  &__scale {
    position: relative;
    margin-top: 8px;
    &_point {
      position: absolute;
      transform: translate(-25%);
      &:nth-child(2) {
        left: 50%;
      }
      &:nth-child(3) {
        left: 100%;
      }
    }
  }
}
