@use 'sass:math';

@import './vars.scss';
@import './mixins.scss';

.range-slider {
  position: relative;
  max-width: 400px;
  max-height: $track-height;
  cursor: pointer;
  touch-action: none;

  &__track {
    width: 100%;
    border: $track-border solid rgb(31, 32, 65, 0.25);
    height: $track-height;
    background: $track-color;
    border-radius: $track-height;
  }

  &__handle {
    position: absolute;
    height: $handle-size;
    width: $handle-size;
    border-radius: math.div($handle-size, 2);
    background: $background-progress;
    border: $handle-border solid white;
    top: math.div(-$handle-size, $track-height) - $handle-border;
    transform: translate(-25%);
    z-index: 2;
    &_num_1 {
      left: 10%;
    }
    &_num_2 {
      left: 90%;
    }
  }

  &__tooltip {
    min-width: 20px;
    padding: 2px 5px;
    height: 22px;
    background: rgb(0, 140, 82);
    color: white;
    position: absolute;
    top: -35px;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    border-radius: 5px;
    &_hide {
      display: none;
    }
  }

  &__progress {
    position: absolute;
    height: inherit;
    right: 20%;
    top: 0;
    left: 40px + $handle-size;
    background: $background-progress;
    pointer-events: none;
    border-radius: inherit;
  }

  &__scale {
    position: relative;
    margin-top: 8px;
    &_point {
      position: absolute;
      transform: translate(-35%);
      &-end {
        background: white;
        z-index: 100;
      }
    }
  }

  &_vertical {
    max-width: $track-height;
    max-height: none;
    height: 400px;
    @include _1200 {
      margin: 0 auto;
    }
    .range-slider {
      &__track {
        width: $track-height;
        border: $track-border solid rgb(31, 32, 65, 0.25);
        height: 100%;
        background: $track-color;
        border-radius: $track-height;
      }

      &__progress {
        width: inherit;
        position: absolute;
        height: initial;
        left: 0;
        top: 40px + $handle-size;
        bottom: 20%;
        background: $background-progress;
        pointer-events: none;
        border-radius: inherit;
      }

      &__handle {
        position: absolute;
        height: $handle-size;
        width: $handle-size;
        border-radius: math.div($handle-size, 2);
        background: $background-progress;
        border: $handle-border solid white;
        left: math.div(-$handle-size, $track-height) - $handle-border;
        transform: translate(0, -30%);
        &_num_1 {
          top: 10%;
        }
        &_num_2 {
          top: 90%;
        }
      }

      &__tooltip {
        transform: translate(50%, -50%);
        top: 50%;

        &_hide {
          display: none;
        }
      }

      &__scale {
        position: absolute;
        top: 0;
        margin-top: 8px;
        height: 100%;
        &_point {
          right: 10px;
          position: absolute;
          transform: translate(0, -85%);
          &:nth-child(1) {
            top: 0%;
          }
          &:nth-child(2) {
            top: 40%;
          }
          &:nth-child(3) {
            top: 100%;
          }
          &-end {
            background: white;
            z-index: 100;
          }
        }
      }
    }
  }
}
